USE [GenealogyDB]
GO
/****** Object:  Table [dbo].[Nodes]    Script Date: 15/06/2020 05:24:41 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Nodes](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CreatedBy] [nvarchar](50) NULL,
	[CreationDate] [smalldatetime] NOT NULL,
	[LastModifiedBy] [nvarchar](50) NULL,
	[LastModificationDate] [smalldatetime] NOT NULL,
	[DeletedBy] [nvarchar](50) NULL,
	[DeletionDate] [smalldatetime] NULL,
	[Enabled] [bit] NOT NULL,
	[NodeType] [int] NOT NULL,
	[NodeParentId] [int] NULL,
	[PersonId] [uniqueidentifier] NULL,
	[MatePersonId] [uniqueidentifier] NULL,
 CONSTRAINT [PK_Nodes] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[People]    Script Date: 15/06/2020 05:24:41 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[People](
	[Id] [uniqueidentifier] NOT NULL,
	[CreatedBy] [nvarchar](50) NULL,
	[CreationDate] [smalldatetime] NOT NULL,
	[LastModifiedBy] [nvarchar](50) NULL,
	[LastModificationDate] [smalldatetime] NOT NULL,
	[DeletedBy] [nvarchar](50) NULL,
	[DeletionDate] [smalldatetime] NULL,
	[Enabled] [bit] NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[FirstFamilyName] [nvarchar](100) NOT NULL,
	[SecondFamilyName] [nvarchar](100) NULL,
	[BornDate] [datetime2](7) NULL,
	[IsBornDateExactly] [bit] NULL,
	[IsAlive] [bit] NOT NULL,
	[DeathDate] [datetime2](7) NULL,
	[IsDeathDateExactly] [bit] NULL,
	[Gender] [int] NOT NULL,
	[PhoneNumber] [nvarchar](100) NULL,
	[SharePhone] [bit] NOT NULL,
	[MailAddress] [nvarchar](100) NULL,
	[ShareMailAddress] [bit] NOT NULL,
	[BornCity] [nvarchar](200) NOT NULL,
	[IsBornCityExactly] [bit] NOT NULL,
	[TreeId] [uniqueidentifier] NOT NULL,
	[PersonalImage] [nvarchar](100) NULL,
 CONSTRAINT [PK_People] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Trees]    Script Date: 15/06/2020 05:24:41 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Trees](
	[Id] [uniqueidentifier] NOT NULL,
	[CreatedBy] [nvarchar](50) NULL,
	[CreationDate] [smalldatetime] NOT NULL,
	[LastModifiedBy] [nvarchar](50) NULL,
	[LastModificationDate] [smalldatetime] NOT NULL,
	[DeletedBy] [nvarchar](50) NULL,
	[DeletionDate] [smalldatetime] NULL,
	[Enabled] [bit] NOT NULL,
	[FirstFamilyName] [nvarchar](100) NOT NULL,
	[SecondFamilyName] [nvarchar](100) NULL,
	[UserOwnerId] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_Trees] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Nodes] ON 

INSERT [dbo].[Nodes] ([Id], [CreatedBy], [CreationDate], [LastModifiedBy], [LastModificationDate], [DeletedBy], [DeletionDate], [Enabled], [NodeType], [NodeParentId], [PersonId], [MatePersonId]) VALUES (1, N'saulrincon@hotmail.com', CAST(N'2020-06-13T12:36:00' AS SmallDateTime), N'saulrincon@hotmail.com', CAST(N'2020-06-13T12:36:00' AS SmallDateTime), NULL, NULL, 1, 2, NULL, NULL, NULL)
INSERT [dbo].[Nodes] ([Id], [CreatedBy], [CreationDate], [LastModifiedBy], [LastModificationDate], [DeletedBy], [DeletionDate], [Enabled], [NodeType], [NodeParentId], [PersonId], [MatePersonId]) VALUES (2, N'saulrincon@hotmail.com', CAST(N'2020-06-13T12:37:00' AS SmallDateTime), N'saulrincon@hotmail.com', CAST(N'2020-06-13T12:37:00' AS SmallDateTime), NULL, NULL, 1, 1, 1, N'68fb16af-fd04-424c-b7f4-b727ff752baf', NULL)
INSERT [dbo].[Nodes] ([Id], [CreatedBy], [CreationDate], [LastModifiedBy], [LastModificationDate], [DeletedBy], [DeletionDate], [Enabled], [NodeType], [NodeParentId], [PersonId], [MatePersonId]) VALUES (3, N'saulrincon@hotmail.com', CAST(N'2020-06-13T12:38:00' AS SmallDateTime), N'saulrincon@hotmail.com', CAST(N'2020-06-13T12:38:00' AS SmallDateTime), NULL, NULL, 1, 2, 2, N'cd0673dd-978d-4e3d-a84a-8ae915d5940a', N'68fb16af-fd04-424c-b7f4-b727ff752baf')
SET IDENTITY_INSERT [dbo].[Nodes] OFF
GO
INSERT [dbo].[Trees] ([Id], [CreatedBy], [CreationDate], [LastModifiedBy], [LastModificationDate], [DeletedBy], [DeletionDate], [Enabled], [FirstFamilyName], [SecondFamilyName], [UserOwnerId]) VALUES (N'd4fca9c2-9976-4d7c-adab-2d853e979f18', N'saulrincon@hotmail.com', CAST(N'2020-06-12T22:17:00' AS SmallDateTime), N'saulrincon@hotmail.com', CAST(N'2020-06-12T22:17:00' AS SmallDateTime), NULL, NULL, 1, N'Rincón', N'Olvera', N'861fbbc0-1062-46a0-89d0-2708a150d6ba')
INSERT [dbo].[Trees] ([Id], [CreatedBy], [CreationDate], [LastModifiedBy], [LastModificationDate], [DeletedBy], [DeletionDate], [Enabled], [FirstFamilyName], [SecondFamilyName], [UserOwnerId]) VALUES (N'a7851168-1108-481a-bd56-69f1c4567d56', N'saulrincon@hotmail.com', CAST(N'2020-06-12T22:17:00' AS SmallDateTime), N'saulrincon@hotmail.com', CAST(N'2020-06-12T22:17:00' AS SmallDateTime), NULL, NULL, 1, N'Rincón', N'Olvera', N'181d4547-ab4b-4e6a-83aa-bf3f58cd8132')
GO
ALTER TABLE [dbo].[Nodes]  WITH CHECK ADD  CONSTRAINT [FK_Nodes_Nodes_NodeParentId] FOREIGN KEY([NodeParentId])
REFERENCES [dbo].[Nodes] ([Id])
GO
ALTER TABLE [dbo].[Nodes] CHECK CONSTRAINT [FK_Nodes_Nodes_NodeParentId]
GO
ALTER TABLE [dbo].[Nodes]  WITH CHECK ADD  CONSTRAINT [FK_Nodes_People_MatePersonId] FOREIGN KEY([MatePersonId])
REFERENCES [dbo].[People] ([Id])
GO
ALTER TABLE [dbo].[Nodes] CHECK CONSTRAINT [FK_Nodes_People_MatePersonId]
GO
ALTER TABLE [dbo].[Nodes]  WITH CHECK ADD  CONSTRAINT [FK_Nodes_People_PersonId] FOREIGN KEY([PersonId])
REFERENCES [dbo].[People] ([Id])
GO
ALTER TABLE [dbo].[Nodes] CHECK CONSTRAINT [FK_Nodes_People_PersonId]
GO
ALTER TABLE [dbo].[People]  WITH CHECK ADD  CONSTRAINT [FK_People_Trees_TreeId] FOREIGN KEY([TreeId])
REFERENCES [dbo].[Trees] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[People] CHECK CONSTRAINT [FK_People_Trees_TreeId]
GO
